body{
    background:#1cbe45;
}
.adp-box{
    width:45%;
    margin:3rem auto;
    background:#fff;
    padding:20px;
}
.heading{
    color:#fff;
    text-align:center;
    text-shadow:0 0 4px rgba(0,0,0,0.25);
}
.input-group{
    margin-bottom:1rem;
    cursor:pointer;
}
.removeSlide {
    position: absolute;
    top: 45%;
    cursor: pointer;
}
@media(max-width:746px){
    .adp-box{
        width:80%;
    }
    .removeSlide {
        position: unset;
        float: right;
    }
}